/* Write your CSS here */
.bg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.list-item {
  margin: 10px;
  padding: 10px;
  font-weight:bold;
}
